.container {
  background: var(--background-color-two);
  font-family: 'IBM Plex Mono', monospace;
  color: var(--text-gray-200);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 5rem 5rem 5rem 5rem;

  a {
      color: var(--purple-100);

      &:hover {
        filter: brightness(0.9);
      }
  }
}

.image_container {
  img {
    width: 11rem;
    margin-right: 3rem;
    border-radius: 100%;
    border: 2px solid var(--purple-700);
    padding: 0.25rem;

    @media (max-width: 720px) {
      display: none;
    }
  }
}

.about_container {
  width: auto;
  max-width: 760px;

  h2 {
    color: var(--white);
    margin-bottom: 0.8rem;
  }

  p {
    margin-bottom: 0.8rem;
    line-height: 24px;
  }

  .contact_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .download_button {
      color: var(--white);
      display: flex;
      align-items: center;
      background: var(--purple-700);
      padding: 1rem 0.6rem 1rem 0.6rem;
      border-radius: 0.25rem;
      justify-content: flex-start;

        svg {
          margin-right: 0.8rem;
        }
    }
  }

  ul {
    list-style-type: none;
    margin-right: 5rem;
    li {
      margin-bottom: 0.8rem;
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
      }

      svg {
        margin-right: 0.8rem;
      }
    }
  }
}