@mixin buttonLayout {
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  margin-left: 0.5rem;
  margin-left: 2rem;
  padding: 16px 30px 16px 30px;
  cursor: pointer;
  border-radius: 0.25rem;

  &:hover {
    filter: brightness(0.9);
  }

  svg {
    margin-right: 0.8rem;
    width: 40px;
    height: 40px;
  }
}

.container {
  height: calc(100vh - 5rem);
  background: var(--background-color-two);
  padding-top: 6.5rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.image_container {
  display: inline-block;
  padding-right: 40px;

  img {
    width: 10rem;
    padding: 4px;
    border: 2px solid var(--purple-700);
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
  }
}

.resume_container {
  display: inline-block;
  width: 36rem;

  h2 {
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 0.70rem;
  }

  .about_container {
    margin-bottom: 0.70rem;

    p {
      font-family: 'IBM Plex Mono', monospace;
      color: var(--text-gray-200);
      line-height: 24px;
  
      a {
        color: var(--purple-100);
        cursor: pointer;
      }
    }
  }

  .contact_container {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--text-gray-200);

    h2 {
      color: var(--white);
    }

    div {
      display: flex;
      align-items: flex-start;
      
      a {
        @include buttonLayout();
        background: var(--purple-700);
      }

      ul {
        list-style-type: none;
        margin-right: 4.2rem;
  
        li {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
  
          svg {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
