.collapse_field {
 width: 18rem;
 background: var(--gray-700);
 color: var(--text-gray-200);
 margin: 1rem;
 height: 20%;
}

.collapse_header {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-end;

  img {
    width: 100%;
  }

  svg {
    color: var(--purple-100);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    border: 1px solid var(--purple-100);
    border-radius: 50%;
    transform: rotate(0deg);

    transition: transform 300ms ease-in-out;

    &.isOpen {
      transform: rotate(180deg);
    }
  }
}

.collapse_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 24px;
  opacity: 0;
  height: 0;
  max-height: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  transition: all .3s linear;

  &.isOpen {
    height: 100%;
    max-height: 100%;
    opacity: 1;
  }

  p {
    margin: 1.5rem 0;
  }

  a {
    margin-bottom: 1.5rem;
    color: var(--white);
    background: var(--purple-300);
    padding: 1rem 3rem;
    border-radius: 0.50rem;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
